<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">A Pinchasalt, Eh?</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/recipes">List of Recipes <span class="sr-only">(current)</span></a></li>
        <li><a href="#/add-recipe">Add a New Recipe </a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <input type="text" ng-model="recipe.name" placeholder="Recipe Name">
<br>
<textarea ng-model="recipe.directions" placeholder="Recipe Directions"></textarea>
<br>
<textarea ng-model="recipe.description" placeholder="Recipe Description"></textarea>
<br>
<button ng-click="addRecipe()">Add Recipe</button> -->

<div class="jumbotron">
    <h1>Add a New Recipe</h1>    
</div>

<div class="col-md-4, col-sm-6">
    <div class="form-group">
        <label>Recipe Name:</label>
        <input class="form-control" ng-model="recipe.name">
    </div>

    <div class="form-group">
        <label>Recipe Description:</label>
        <textarea class="form-control" ng-model="recipe.description"></textarea>
    </div>

    <div class="form-group">
        <label>Recipe Directions:</label>
        <textarea class="form-control" ng-model="recipe.directions"></textarea>
    </div>

    <div class="form-group">
        <label>Ingredient</label>
        <input class="form-control" ng-model="ingredientName">
    </div>
    <button ng-click="addIngredientToRecipe(ingredientName)"
            class="btn btn-xs btn-info glyphicon glyphicon-save">Add Ingredient to Recipe</button>
    <br>

    <ol>
        <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}
            <i ng-click="removeIngredientFromRecipe(ingredient)"
               class="btn btn-xs btn-danger glyphicon glyphicon-remove"></i>
        </li>
    </ol>

    <!-- <div class="form-group">
        <input type="file" id="file" name="file" accept="image/gif, image/x-png, image/jpeg"
           onchange="angular.element(this).scope().addPhoto()"/>
    </div> -->

    <button ng-click="addRecipe()"
            class="btn btn-xs btn-success glyphicon glyphicon-save-file">Save Recipe</button>
</div>